@import "./about.css";
@import "./authors.css";
@import "./feedback.css";
@import "./footer.css";
@import "./format.css";
@import "./info.css";
@import "./knowledge.css";
@import "./opening.css";
@import "./program.css";
@import "./header.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 37px;
  line-height: 38px;
}

h2 {
  font-size: 26px;
  line-height: 26px;
}
.adaptive {
  padding-left: 36px;
  padding-right: 36px;
}

.adaptive1 {
  padding-left: 36px;
  padding-right: 36px;
}
.adaptive2 {
  padding-left: 36px;
  padding-right: 36px;
}
.adaptive3 {
  padding-left: 36px;
  padding-right: 36px;
}
h5 {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  
}

p {
  font-size: 12px;
}

@media screen and (min-width: 834px)   {
  h1 {
    font-size: 46px;
    line-height: 47px;
  }

  h2 {
    font-size: 32px;
    line-height: 32px;
  }
  .adaptive {
    padding-left: 80px;
    padding-right: 80px;
  }

  .adaptive1 {
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 auto;
  }
  .adaptive2 {
    padding-left: 72px;
    padding-right: 72px;
  }
  .adaptive3 {
    padding-left: 72px;
    padding-right: 72px;
  }
  h5 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }
  p {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 80px;
    line-height: 81px;
  }
  
  h2 {
    font-size: 55px;
    line-height: 56px;
  }

  .adaptive {
    padding-left: 5px;
    padding-right: 5px;
    width: 1280px;
    margin: 0 auto;
  }

  .adaptive1 {
    padding-left: 42px;
    padding-right: 42px;
    margin: 0 auto;
    width: 1280px;
  }
  .adaptive2 {
    padding-left: 44px;
    padding-right: 44px;
    width: 1280px;
    margin: 0 auto;
  }
  .adaptive3 {
    padding-left: 70px;
    padding-right: 70px;
    width: 1280px;
    margin: 0 auto;
  }
  h5 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
  }
}
