*{
    font-size: 20px;
    line-height: 30PX;
}

.opening__items{
    list-style-type: none;
    margin-top: 100px;
}

.opening__li {
    display: inline;
    padding-right:24px;
}

.opening__h1 {
    margin-top:24px;
    margin-bottom:24px;
}


.opening__wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.opening__man {
    position: relative;
    top: 100px;
    left: -100px;
}

.opening__right-side {
    display: flex;
    flex-direction: column;
    width: 630px;
    align-items: flex-start;
}




.opening__blue_sticker {
    width:483px;
    margin-bottom: 150px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:aliceblue;
    background-color: #1E4681;
    padding: 40px;
    border-radius: 8px;
    transform:rotate(-4deg);
}

.opening__citation {
    font-family: 'Roboto Slab', serif;
    font-weight:regular;
    font-size: 25px;
}

.opening__author {
    font-size:20px;
    margin-top:20px;
}