/* Задаем стили для мобилки */

.opening {
  padding-top:45px;
}

.opening__container {
  display: flex;
  flex-direction: column;
}

.opening__text {
margin-right:40px;
width: 90%;
}

.opening__list {
  display:flex;
  font-size: 10px;
}

.opening__item {
  display: flex;
  align-items: center;
}

.opening__item:not(:first-child) {
  margin-left: 20px;
}

.opening__icon {
  width:10px;
  margin-right: 6px;
}

.opening__title {
  margin-top: 8px;
  margin-bottom: 15px;
}

.opening__description {
  font-size: 10px;
  line-height: 15px;
  width: 90%;
}

.opening__man {
  width: 140px;
  align-self: flex-end;
}

.opening__sticker {
  width:225px;
  margin:  40px 0 0 0px;
  color:aliceblue;
  background-color: #1E4681;
  padding: 13px;
  border-radius: 4px;
  transform:rotate(-4deg);
  font-size: 11px;
}


.opening__citation {
  font-family: 'Roboto Slab', serif;
}


.opening__author {
  margin-top:8px;
  font-size: 10px;
  text-align: end;
}







/* задаем стили для планшета */

@media screen and (min-width: 834px)  {

  .opening {
      padding-top:57px;
  }

  .opening__container {
      display: flex;
      flex-direction: row;
  }
  
  .opening__text {
      width: 58%;
  }


  .opening__icon {
      width: 12px;
  }

  .opening__list {
      display:flex;
      font-size: 12px;
  }

  .opening__item {
      display: flex;
      align-items: center;
  }
  
  .opening__item:not(:first-child) {
      margin-left: 24px;
  }

  .opening__man {
      margin-top: 0px ;
      width: 176px;
  }

  .opening__title {
      margin-top: 10px;
      margin-bottom: 20px;
  }


  .opening__sticker {
      width:280px;
      margin: 40px auto 0 24%;
      color:aliceblue;
      background-color: #1E4681;
      padding: 16px;
      border-radius: 4px;
      transform:rotate(-4deg);
      font-size: 14px;
  }

  .opening__author {
      margin-top:12px;
      font-size: 12px;
      text-align: end;
  }

  .opening__description {
      font-size: 12px;
      line-height: 18px;
  }


}





/* Задаем стили для десктопа */

@media screen and (min-width: 1280px)  {

  .opening {
      padding-top:96px;
      width: 1280px;
  }
  
  .opening__container {
      display: flex;
  }
  
  .opening__text {
  margin-right:50px;
  width: 60%;
  }
  
  .opening__list {
      display:flex;
      font-size: 20px;
  }
  
  .opening__item {
      display: flex;
      align-items: center;
  }
  
  .opening__item:not(:first-child) {
      margin-left: 36px;
  }
  
  .opening__icon {
      margin-right: 10px;
      width: 22px;
  }
  
  .opening__title {
      margin-top: 20px;
      margin-bottom: 36px;
  }
  
  .opening__description {
      font-size: 20px;
      line-height: 30px;
  }
  
  .opening__man {
      margin-top: 14px ;
      width: 305px;
  }
  
  .opening__sticker {
      width:480px;
      margin: 65px auto 0 24%;
      color:aliceblue;
      background-color: #1E4681;
      padding: 24px;
      border-radius: 8px;
      transform:rotate(-4deg);
      font-size: 24px;
  }
  
  
  .opening__citation {
      font-family: 'Roboto Slab', serif;
      font-size: 20px;
  }
  
  
  .opening__author {
      margin-top:40px;
      font-size: 20px;
  }
  


}
