

/*                  для мобилки  */


.programm {
    padding-top:45px;
}

.programm__cards {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top:24px;
    margin: 8px auto;

}

.programm__card {
    width:185px;
    border-radius: 30px;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    margin:4px;
}

.programm__card img {
    width: 100%;
}

.programm__text {
    padding: 15px;
}
.programm__card p {
    font-size: 12px;
    margin-top: 12px;
}


/* адаптирую для планшета  */

@media screen and (min-width: 834px)   {

    .programm {
        padding-top:45px;
        padding-bottom:45px;
    }

    .programm__cards {
        display: flex;
        flex-direction:row;
        /* flex-wrap:wrap; */
        margin-top:102px;

    }

    .programm__card {
        width:231px;
        border-radius: 30px;
        margin: 8px;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    }

    .programm__card img {
        width: 100%;
    }

    .programm__text {
        padding: 15px;
    }

    .programm__card p {
        font-size: 12px;
        margin-top: 12px;
    }
}




/* адаптирую для десктоп  */

@media screen and (min-width: 1280px)   {


    .programm {
        padding-top: 200px;
        padding-bottom:45px;
    }

    .programm__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .programm__card {
        width: 399px;
        margin: 6px 6px;
        border-radius: 30px;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    }

    .programm__card img {
        width: 100%;
    }

    .programm__text {
        padding: 24px;
    }

    .programm__card p {
        font-size: 20px;
        margin-top: 20px;
    }
}